---
import Show from '../components/Show.svelte'
import MainLayout from '../layouts/MainLayout.astro'

const res = await fetch('https://syntax.fm/api/shows')
const shows = await res.json()
const indexShows = shows.slice(0, 20);
---

<MainLayout>
  <h2>Syntax Episodes</h2>
    <ul>
      {indexShows.map(show => (
        <li>
          <Show {show} client:visible />
        </li>
      ))}
    </ul>
    <a href="/shows/page/2">More Episodes</a>
</MainLayout>